$main-font: Roboto, sans-serif;
$main-width: 1200px;

body {
  color: $text-color;
  background-color: $primary-white-color;
  letter-spacing: 0.03em;

  .container {
    width: $main-width;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
